.quote-container {
	width: auto;
	max-width: 900px;
	padding: 20px 30px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.4);
	box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.quote-text {
	font-size: 2.75rem;
}

.long-quote {
	font-size: 2rem;
}

.fa-quote-left {
	font-size: 4rem;
}

.quote-author {
	margin-top: 15px;
	font-size: 2rem;
	font-weight: 400;
	font-style: italic;
}

@media screen and (max-width: 1000px) {
	.quote-container {
		margin: auto 10px;
	}

	.quote-text {
		font-size: 2.5rem;
	}
}

.fa-twitter {
	font-size: 1.5rem;
}

.fa-twitter:hover {
	color: #1da1f2;
}
